{
  "openapi": "3.1.0",
  "info": {
    "title": "S4Kit Admin API",
    "description": "Administrative API for managing S4Kit resources including systems, instances, services, and API keys.",
    "version": "1.0.0",
    "contact": {
      "email": "support@s4kit.com"
    }
  },
  "servers": [
    {
      "url": "https://api.s4kit.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Systems",
      "description": "Manage SAP systems"
    },
    {
      "name": "Instances",
      "description": "Manage system instances (environments)"
    },
    {
      "name": "API Keys",
      "description": "Manage API keys"
    },
    {
      "name": "Logs",
      "description": "Query request logs"
    }
  ],
  "paths": {
    "/admin/systems": {
      "get": {
        "tags": ["Systems"],
        "summary": "List systems",
        "description": "Returns all SAP systems in the organization",
        "responses": {
          "200": {
            "description": "List of systems",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/System"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Systems"],
        "summary": "Create system",
        "description": "Create a new SAP system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "System created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/System"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/systems/{id}": {
      "get": {
        "tags": ["Systems"],
        "summary": "Get system",
        "description": "Get a specific system by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/System"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "System not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Systems"],
        "summary": "Update system",
        "description": "Update a system's properties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSystem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "System updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/System"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Systems"],
        "summary": "Delete system",
        "description": "Delete a system and all associated instances",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "System deleted"
          }
        }
      }
    },
    "/admin/api-keys": {
      "get": {
        "tags": ["API Keys"],
        "summary": "List API keys",
        "description": "Returns all API keys in the organization",
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["API Keys"],
        "summary": "Create API key",
        "description": "Create a new API key. The full key is only returned once.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKey"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/api-keys/{id}": {
      "delete": {
        "tags": ["API Keys"],
        "summary": "Revoke API key",
        "description": "Revoke an API key immediately",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "API key revoked"
          }
        }
      }
    },
    "/admin/logs": {
      "get": {
        "tags": ["Logs"],
        "summary": "Query logs",
        "description": "Query request logs with filtering",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "query",
            "description": "Filter by API key ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Filter by instance ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "description": "Filter by entity name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status (success, error)",
            "schema": {
              "type": "string",
              "enum": ["success", "error"]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 100)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LogEntry"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "System": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "alias": {
            "type": "string",
            "description": "Code identifier"
          },
          "type": {
            "type": "string",
            "enum": ["s4_public", "s4_private", "btp", "other"]
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSystem": {
        "type": "object",
        "required": ["name", "alias", "type"],
        "properties": {
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string",
            "pattern": "^[a-z0-9-]+$"
          },
          "type": {
            "type": "string",
            "enum": ["s4_public", "s4_private", "btp", "other"]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdateSystem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Key prefix (e.g., sk_live_abc1)"
          },
          "lastFour": {
            "type": "string",
            "description": "Last 4 characters"
          },
          "permissions": {
            "type": "object",
            "description": "Permission configuration"
          },
          "rateLimits": {
            "type": "object",
            "properties": {
              "perMinute": {
                "type": "integer"
              },
              "perDay": {
                "type": "integer"
              }
            }
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Full API key (only shown once)"
              }
            }
          }
        ]
      },
      "CreateApiKey": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "permissions": {
            "type": "object",
            "description": "Permission configuration"
          },
          "rateLimits": {
            "type": "object",
            "properties": {
              "perMinute": {
                "type": "integer",
                "default": 60
              },
              "perDay": {
                "type": "integer",
                "default": 10000
              }
            }
          }
        }
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "requestId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "apiKeyId": {
            "type": "string",
            "format": "uuid"
          },
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "operation": {
            "type": "string",
            "enum": ["list", "get", "create", "update", "delete"]
          },
          "statusCode": {
            "type": "integer"
          },
          "responseTimeMs": {
            "type": "integer"
          },
          "sapResponseTimeMs": {
            "type": "integer"
          },
          "requestSize": {
            "type": "integer"
          },
          "responseSize": {
            "type": "integer"
          },
          "recordCount": {
            "type": "integer"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Session token or admin API key"
      }
    }
  }
}
